:host { display: block; }

.report-stepper {
  --p-stepper-step-padding: 0;
  --p-stepper-step-gap: 1rem;
  --p-stepper-step-header-padding: 0;
  --p-stepper-step-header-gap: 1rem;
  --p-stepper-step-number-size: 2.65rem;
  --p-stepper-step-number-background: #fff;
  --p-stepper-step-number-border-color: #dfe5ed;
  --p-stepper-step-number-color: #526683;
  --p-stepper-step-number-active-background: #fff;
  --p-stepper-step-number-active-border-color: #4945f4;
  --p-stepper-step-number-active-color: #4945f4;
  --p-stepper-step-title-color: #526683;
  --p-stepper-step-title-active-color: #403df0;
  --p-stepper-step-title-font-size: .875rem;
  --p-stepper-step-title-font-weight: 650;
  --p-stepper-separator-background: #dfe5ed;
  --p-stepper-separator-active-background: #4945f4;
  --p-stepper-separator-size: 1px;
  width: 100%;
}

@media (max-width: 45rem) {
  .report-stepper {
    --p-stepper-step-gap: .4rem;
    --p-stepper-step-header-gap: .4rem;
    --p-stepper-step-number-size: 2rem;
    --p-stepper-step-title-font-size: .7rem;
  }
}
